<div class="login-box">
  <h1>Login</h1>
  <%= form_tag '/auth/ldap/callback' do %>
    <%= text_field_tag :username, params[:username], autofocus: true, placeholder: 'RZ-Kennung (xmustermann)' %>
    <%= password_field_tag :password, "", placeholder: 'Passwort' %>
    <%# TODO This should not be necessary %>
    <%= hidden_field_tag :origin, params[:origin] %>
    <%= submit_tag 'Anmelden' %>
  <% end %>
</div>

<% if Rails.env.development? %>
  <h2>Entwickler-Anmeldung</h2>
  <%= form_tag '/auth/developer/callback' do %>
    <%= label_tag :name, 'Name' %>
    <%= text_field_tag :name %>
    <%= label_tag :email, 'E-Mail' %>
    <%= text_field_tag :email %>
    <%= label_tag :admin, 'Admin?' %>
    <%= check_box_tag :admin %>
    <%= hidden_field_tag :origin, params[:origin] %>
    <%= submit_tag 'Anmelden' %>
  <% end %>
<% end %>
