<h1>Anmelden</h1>

<%# TODO Is this idiomatic? %>
<% if @message %>
  <p>
    <%= @message %>
  </p>
<% end %>

<%= form_tag '/auth/ldap/callback' do %>
  <%= label_tag :username, 'E-Mail' %>
  <%= text_field_tag :username, params[:username] %> <%# TODO This should not be necessary %>
  <%= label_tag :password, 'Passwort' %>
  <%= password_field_tag :password %>
  <%= hidden_field :origin, params[:origin] %>
  <%= submit_tag 'Anmelden' %>
<% end %>

<% if Rails.env.development? %>
  <h2>Entwickler-Anmeldung</h2>
  <%= form_tag '/auth/developer/callback' do %>
    <%= label_tag :name, 'Name' %>
    <%= text_field_tag :name %>
    <%= label_tag :email, 'E-Mail' %>
    <%= text_field_tag :email %>
    <%= hidden_field_tag :origin, params[:origin] %>
    <%= submit_tag 'Anmelden' %>
  <% end %>
<% end %>
