<%# TODO Is this idiomatic? %>

<% if @message %>
  <section id="flashes-container">
    <%= content_tag :div, @message, class: 'flash flash-alert'%>
  </section>
<% end %>

<div class="login-box">
  <h1>Login</h1>
  <%= form_tag '/auth/ldap/callback' do %>
    <%= text_field_tag :username, params[:username], placeholder: 'RZ-Kennung (xmustermann)' %> <%# TODO This should not be necessary %>
    <%= password_field_tag :password, "", placeholder: 'Passwort' %>
    <%= hidden_field :origin, params[:origin] %>
    <%= submit_tag 'Anmelden' %>
  <% end %>
</div>

<% if Rails.env.development? %>
  <h2>Entwickler-Anmeldung</h2>
  <%= form_tag '/auth/developer/callback' do %>
    <%= label_tag :name, 'Name' %>
    <%= text_field_tag :name %>
    <%= label_tag :email, 'E-Mail' %>
    <%= text_field_tag :email %>
    <%= hidden_field_tag :origin, params[:origin] %>
    <%= submit_tag 'Anmelden' %>
  <% end %>
<% end %>
