<p id="notice"><%= notice %></p>

<h1>Themen</h1>

<%= link_to 'Thema hinzufügen', new_idea_path, class: 'new-topic'%>
<br style="clear: right" />
<table class="topic-table">
  <tbody>
    <% @ideas.each do |idea| %>
      <tr class="topic-title" onclick="toggleTopicDetails('topic-detail-<%= idea.id %>')">
        <td><%= idea.likes.count %></td>
        <td><%= idea.comments.count %></td>
        <td><%= idea.title %></td>
        <!-- <td><%= link_to 'Show', idea %></td> -->
        <!-- <td><%= link_to 'Edit', edit_idea_path(idea) %></td> -->
        <!-- <td><%# link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
      <tr id="topic-detail-<%= idea.id %>" class="topic-detail">
        <td colspan="3">
          <div>
            <div class="topic-detail-desc">
              <%= idea.description %>
            </div>
            <%= link_to 'Details >>', idea %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
