<p id="notice"><%= notice %></p>

<h1>Themen</h1>

<%= link_to 'Thema hinzufügen', new_idea_path, class: 'new-topic'%>
<br style="clear: right" />
<table class="topic-table">
  <tbody>
    <% @ideas.each do |idea| %>
      <tr id="topic-title-<%= idea.id %>" class="topic-title">
        <td><%= idea.likes.count %></td>
        <td><%= idea.comments.count %></td>
        <td><%= idea.title %></td>
        <td><%= link_to "\u00a0", idea %></td>
      </tr>
      <tr id="topic-detail-<%= idea.id %>" class="topic-detail">
        <td colspan="4">
          <div>
            <div class="topic-detail-desc">
              <%= idea.description %>
            </div>
            <%= link_to 'Details >>', idea %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
