<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<% if current_user.likes?(@idea) %>
  <%# TODO Is there a cleaner way to get the like? %>
  <%= button_to '-1', current_user.like(@idea), method: :delete %>
<% else %>
  <%= button_to '+1', idea_likes_path(@idea) %>
<% end %>
<%= @idea.likes.count %>

<table>
  <% @idea.comments.each do |comment| %>
    <tr>
      <td><%= comment.author.name %></td>
      <td><%= comment.content %></td>
      <td><%= link_to 'Bearbeiten', edit_comment_path(comment) %></td>
      <td><%= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Kommentar hinzufügen', new_idea_comment_path(@idea) %>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
