<div class="comment">
  <div class="comment-avatar">
    <img src="http://api.adorable.io/avatars/64/<%= comment.author.email %>.png" />
  </div>
  <div class="comment-main">
    <div class="comment-meta">
      <div class="action-box">
        <% if can? :update, comment %>
          <%= link_to 'Bearbeiten', edit_comment_path(comment) %>
        <% end %>
        <% if can? :destroy, comment %>
          <%= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
        <% end %>
      </div>
      <strong><%= comment.author.name %></strong>
      <%= comment.created_at.strftime('am %d.%m.%y um %H:%M') %>
    </div>
    <div class="comment-body">
      <%= markdown comment.content %>
    </div>
  </div>
</div>
