<%= form_for [@topic, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comment">
    <div class="comment-avatar">
      <img src="http://api.adorable.io/avatars/64/<%= current_user.email %>.png" />
    </div>
    <div class="comment-main">
      <div class="comment-meta">
        <div class="action-box">
          Markdown wird unterstützt
        </div>
        Kommentieren als <strong><%= current_user.name %></strong>
      </div>
      <div class="comment-body">
        <div class="field">
          <%= f.text_area :content %>
        </div>
          <div class="actions">
            <%= f.submit 'Kommentieren' %>
          </div>
      </div>
    </div>
  </div>
<% end %>
