<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="topic-form">
    <div class="field">
      <%= f.text_field :title, :placeholder => "Prägnanter Titel des Themas" %>
    </div>
    <div class="field">
      <%= f.text_area :description, :placeholder => "Interessante Beschreibung des Themas" %>
    </div>
    <div class="actions">
      <span>Markdown wird unterstützt</span>
      <%= f.submit %>
    </div>
    <br style="clear: both" />
  </div>
<% end %>
