<p id="notice"><%= notice %></p>

<%= link_to 'Thema hinzufügen', new_topic_path, class: 'new-topic'%>
<h1>Themen</h1>
<%# TODO Can we use symbols for the column names somehow? %>
<%# TODO Dry up the classes and params %>
<div class="sort-box">Sortieren nach
  <%= link_to 'Datum', topics_path(sort: 'created_at', direction: sort_direction == 'asc' ? 'desc' : 'asc'), class: sort_column == 'created_at' ? "active #{sort_direction == 'asc' ? 'desc' : 'asc'}" : '' %>
  <%= link_to 'Beliebtheit', topics_path(sort: 'likes_count', direction: sort_direction == 'asc' ? 'desc' : 'asc'), class: sort_column == 'likes_count' ? "active #{sort_direction == 'asc' ? 'desc' : 'asc'}" : '' %>
</div>
<br style="clear: right" />

<% if @topics.empty? %>
  <div class="note">Noch keine Themen eingetragen</div>
<% end %>
<table class="topic-table">
  <tbody>
    <% @topics.each do |topic| %>
      <tr id="topic-title-<%= topic.id %>" class="topic-title">
        <td><%= topic.likes.count %></td>
        <td><%= topic.comments.count %></td>
        <td><%= topic.title %></td>
        <td><%= link_to 'Mehr Details', topic %></td>
      </tr>
      <tr id="topic-detail-<%= topic.id %>" class="topic-detail">
        <td colspan="4">
          <div>
            <div class="topic-detail-desc">
              <%= markdown topic.description %>
            </div>
            <%= link_to 'Details >>', topic %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
