<div class="star-container">
  <strong><%= @topic.likes.count %></strong>
  <% if signed_in? && current_user.likes?(@topic) %>
    <%# TODO Is there a cleaner way to get the like? %>
    <%= button_to '-1', current_user.like(@topic),
      method: :delete,
      class: :active,
      title: 'Stern entfernen' %>
  <% else %>
    <%= button_to '+1', topic_likes_path(@topic), title: 'Stern geben' %>
  <% end %>
</div>
<h6 class="topic-headline">Thema</h6>
<h1 class="topic-headline"><%= @topic.title %></h1>

<p class="text-body">
  <%= @topic.description %>
</p>

<div class="topic-meta">
  vorgeschlagen von <strong><%= @topic.author.name %></strong>,
  am <strong><%= @topic.created_at.strftime('%d.%m.%y') %></strong>
  <% if can?(:destroy, @topic) || can?(:update, @topic) %>
    <br />
    <% if can? :update, @topic %>
      <%= link_to 'Edit', edit_topic_path(@topic) %> |
    <% end %>
    <% if can? :destroy, @topic %>
      <%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>
<hr class="sep" />

<% @topic.comments.each do |comment| %>
  <div class="comment">
      <div class="comment-avatar">
        <img src="http://api.adorable.io/avatars/64/<%= comment.author.email %>.png" />
      </div>
      <div class="comment-main">
        <div class="comment-meta">
          <div class="action-box">
            <% if can? :update, comment %>
              <%= link_to 'Bearbeiten', edit_comment_path(comment) %>
            <% end %>
            <% if can? :destroy, comment %>
              <%= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
            <% end %>
          </div>
          <strong><%= comment.author.name %></strong>
          <%= comment.created_at.strftime('am %d.%m.%y um %H:%M') %>
        </div>
        <div class="comment-body">
          <%= comment.content %>
        </div>
      </div>
  </div>
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Back', topics_path %>
