<div class="star-container">
  <strong><%= @topic.likes.count %></strong>
  <% if signed_in? && current_user.likes?(@topic) %>
    <%# TODO Is there a cleaner way to get the like? %>
    <%= button_to '-1', current_user.like(@topic),
      method: :delete,
      class: :active,
      title: 'Stern entfernen' %>
  <% else %>
    <%= button_to '+1', topic_likes_path(@topic), title: 'Stern geben', disabled: !signed_in? %>
  <% end %>
</div>
<h6 class="show-headline">Thema</h6>
<h1 class="show-headline"><%= @topic.title %></h1>

<div class="text-body">
  <%= markdown @topic.description %>
</div>

<div class="topic-meta">
  vorgeschlagen von <strong><%= @topic.author.name %></strong>,
  am <strong><%= @topic.created_at.strftime('%d.%m.%y') %></strong>
  <% if can?(:destroy, @topic) || can?(:update, @topic) %>
    <br />
    <% if can? :update, @topic %>
      <%= link_to 'Bearbeiten', edit_topic_path(@topic) %> |
    <% end %>
    <% if can? :destroy, @topic %>
      <%= link_to 'Löschen', @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<hr class="sep" />

<%= render @topic.comments %>
<% if @topic.comments.empty? %>
  <div class="comment-note">Noch keine Kommentare vorhanden</div>
<% end %>

<hr class="comment-sep" />
<% if signed_in? %>
  <%= render 'comments/form' %>
<% else %>
  <div class="comment-note">Sie müssen sich anmelden, um kommentieren zu können</div>
<% end %>
