<div class="star-container">
  <strong><%= @topic.likes.count %></strong>
  <% if signed_in? && current_user.likes?(@topic) %>
    <%# TODO Is there a cleaner way to get the like? %>
    <%= button_to '-1', current_user.like(@topic), method: :delete, class: :active %>
  <% else %>
    <%= button_to '+1', topic_likes_path(@topic) %>
  <% end %>
</div>
<h6 class="topic-headline">Thema</h6>
<h1 class="topic-headline"><%= @topic.title %></h1>

<p class="text-body">
  <%= @topic.description %>
</p>

<div class="topic-meta">
  <%= @topic.author.name %>
</div>
<hr class="sep" />

<table>
  <% @topic.comments.each do |comment| %>
    <tr>
      <td><%= comment.author.name %></td>
      <td><%= comment.content %></td>
      <td><%= link_to 'Bearbeiten', edit_comment_path(comment) %></td>
      <td><%= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Kommentar hinzufügen', new_topic_comment_path(@topic) %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', topics_path %>
