<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<% if signed_in? && current_user.likes?(@topic) %>
  <%# TODO Is there a cleaner way to get the like? %>
  <%= button_to '-1', current_user.like(@topic), method: :delete %>
<% else %>
  <%= button_to '+1', topic_likes_path(@topic) %>
<% end %>
<%= @topic.likes.count %>

<table>
  <% @topic.comments.each do |comment| %>
    <tr>
      <td><%= comment.author.name %></td>
      <td><%= comment.content %></td>
      <td><%= link_to 'Bearbeiten', edit_comment_path(comment) %></td>
      <td><%= link_to 'Löschen', comment, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
    </tr>
  <% end %>
</table>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
