<%= form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <% if @talk.errors.count == 1 %>
        <h2>Ein Fehler ist aufgetreten:</h2>
      <% else %>
        <h2>Einige Fehler sind aufgetreten</h2>
      <% end %>

      <ul>
      <% @talk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="topic-form">
    <div class="field">
      <%= f.text_field :title, :placeholder => "Titel des Vortrags"%>
    </div>
    <div class="field">
      <%= f.text_area :description, :placeholder => "Interessante Beschreibung des Vortrags" %>
    </div>
    <% if current_user.admin? %>
      <div class="field date-select">
        <%# TODO Translate the months or is there a gem for that? %>
        Datum: <%= f.date_select :date, use_month_numbers: true %>
      </div>
    <% end %>
    <div class="actions">
      <span>(Markdown wird unterstützt)</span>
      <%= f.submit %>
    </div>
    <br style="clear: both" />
  </div>

  <h3>Materialien</h3>
  <%= f.fields_for :materials do |materials_form| %>
    <div>
      <%= materials_form.label :description %><br>
      <%= materials_form.text_field :description %>
    </div>
    <div>
      <%= materials_form.label :_destroy %>
      <%= materials_form.check_box :_destroy %>
    </div>
  <% end %>
<% end %>
