<tr>
  <td><%= talk.date.strftime('%d.%m') %></td>
  <td><%= talk.speaker.present? ? talk.speaker.name : 'TBA' %></td>
  <td>
    <h4><%= talk.title || 'TBA' %></h4>
    <%= talk.description %>
    <%= link_to 'Details', talk_path(talk) %>
  </td>
</tr>
