<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @talk.title || 'TBA' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @talk.description %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @talk.speaker.present? ? @talk.speaker.name : 'TBA' %>
</p>

<p>
  <strong>Date:</strong>
  <%= @talk.date.strftime('%d.%m') %>
</p>

<h3>Basiert auf folgenden Ideen</h3>
<ul>
  <% @talk.topics.each do |topic| %>
    <li><%= link_to topic.title, topic_path(topic) %></li>
  <% end %>
</ul>
