<h6 class="show-headline">Vortrag</h6>
<h1 class="show-headline">
  <%= @talk.title.present? ? @talk.title : '<span class="tba">TBA</span>'.html_safe %>
</h1>

<div class="talk-metabox">
  <div style="float: right">
    am <strong><%= @talk.date.strftime('%d.%m.%y') %></strong>
  </div>

  von <strong><%= @talk.speaker.present? ? @talk.speaker.name : 'TBA' %>
</div>

<div class="text-body">
  <%= markdown(@talk.description.present? ? @talk.description : '*Noch keine Beschreibung*') %>
</div>

<% if can? :edit, @talk %>
  <div class="edit-talk">
    <%= link_to 'Bearbeiten', edit_talk_path(@talk) %>
  </div>
<% end %>

<hr class="sep" />

<h3>Behandelt folgende Themen:</h3>
<ul>
  <% @talk.topics.each do |topic| %>
    <li><%= link_to topic.title, topic %></li>
  <% end %>
</ul>

<h3>Materialien</h3>
<ul>
  <% @talk.materials.each do |material| %>
    <li><%= material.description %></li>
  <% end %>
</ul>
