<header>
  <div class="site-frame">
    <div class="header-top">
      <div class="header-title">
        Neue Konzepte der Informatik
      </div>
      <div class="header-user">
        <% if signed_in? %>
          Angemeldet als <strong><%= current_user.name %></strong><br />
          <%= link_to 'Abmelden', logout_path(origin: request.original_url), class: 'header-logout-button', method: :delete %>
        <% else %>
          <%= button_to 'Login', login_path, class: 'header-login-button', method: :get, params: { origin: request.original_url } %>
        <% end %>
      </div>
    </div>
    <nav>
      <ul>
        <%# TODO Can we DRY this up some? %>
        <li><%= link_to 'Start', root_path, class: current_page?(root_path) ? 'active' : '' %></li>
        <li><%= link_to 'Aktuell (SS16)', talks_by_semester_path(2016, Semester::SUMMER), class: current_page?(talks_by_semester_path(2016, Semester::SUMMER)) ? 'active' : '' %></li>
        <li><%= link_to 'Themen', topics_path, class: current_controller?(:topics) ? 'active' : '' %></li>
        <li><%= link_to 'Archiv', archived_talks_path, class: current_page?(archived_talks_path) ? 'active' : '' %></li>
      </ul>
    </nav>
  </div>
</header>
