<!DOCTYPE html>
<html>
<head>
  <title>Seminar Neue Konzepte der Informatik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<main>
  <div class="site-frame">
    <% unless flash.empty? %>
      <section id="flashes-container">
        <% flash.each do |type, message| %>
          <%= content_tag :div, message, class: "flash flash-#{type}"%>
        <% end %>
      </section>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</main>

</body>
</html>
