<!DOCTYPE html>
<html>
<head>
  <title>SeminarManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, message| %>
  <%= content_tag :div, message, class: "flash flash-#{type}"%>
<% end %>

<%= yield %>

<% if signed_in? %>
  <%= link_to 'Abmelden', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Anmelden', login_path %>
<% end %>

</body>
</html>
